---
layout: splash.handlebars
---
<div class='row lg-v-pad text-center hero-splash'>
  <div class='col-sm-6 col-sm-offset-3'>
    <img class='img-responsive center-block' src='{{assets}}apogo.jpg'/>
    <h3 class='white thin'>
      Apotact Labs is an HCI company working on the most accurate gestural
      interface to date.
    </h3>
    <h3 class='white thin'>
      Join our mailing list below to stay updated.
    </h3>

    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3'>
        <!-- Begin MailChimp Signup Form -->
        <form action="//apotact.us3.list-manage.com/subscribe/post?u=28651018d03bf1e7c3f1de3d1&amp;id=ac78bf7fdc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form sm-v-pad validate" target="_blank" novalidate role="form">
          <div class="form-group sm-v-pad">
            <label class="sr-only" for="mce-EMAIL">email address</label>
            <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" required placeholder="email address">
          </div>
          <input type="submit" value="Subscribe" name='subscribe' id='mc-embedded-subscribe' class='btn btn-border' role='button' >
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_28651018d03bf1e7c3f1de3d1_ac78bf7fdc" tabindex="-1" value=""></div>
        </form>
        <!--End mc_embed_signup-->
      </div>
    </div>


  <div class='row text-center'>
    <div class='col-sm-6 col-sm-offset-3
                col-lg-4 col-lg-offset-4 white'>
      <p><a href="mailto:hello@apotact.com">hello@apotact.com</a></p>
    </div>
  </div>

  </div>
</div>
